/vendor/
node_modules/
.env
.env.*
.phpunit.result.cache
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/private/*
!/storage/app/private/.gitignore
/bootstrap/cache/*
.idea/
*.log
.DS_Store
Thumbs.db
/public/hot
/public/storage
*.bak
*.tmp
/public/build/
deploy.sh